{% extends 'base.html.twig' %}

{% block title %}Edit Todo{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Symfony Todo App</h1>

    <h2>Edit Todo</h2>

    {{ form(todo_item_form) }}

    <a class="btn btn-primary" href="{{ path('app_todos.index') }}">Show all Todos</a>
</div>
{% endblock %}
